*{
    margin: 0;
    border: none;
    padding: 0;
}

main{
    background-image: linear-gradient(black, rgb(54, 54, 54));
    background-repeat: no-repeat;
}

.text-sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#sobre{
    margin-top: 50px;
    color: white;
    font-size: 25px;
    font-family: 'great-vibes';
    text-align: justify;
}

.home-loja{
    margin-top: 100px;
}

.home-empl{
    margin-top: 200px;
}

#img-01{
    margin-top: 80px;
}

.car{
    width: 300px;
}

.car-img{
    padding: 40px;
}

#prod-01{
    width: 200px;
    border: 2px;
    border-color: #000;
    border-style: solid;

    transition: 0.5s;
}

#prod-01:hover{
    width: 220px;
    box-shadow: 1px 1px 5px 5px #2a00428e;
}

#prod-02{
    width: 180px;
    border: 2px;
    border-color: #000;
    border-style: solid;

    transition: 0.5s;
}

#prod-02:hover{
    width: 200px;
    box-shadow: 1px 1px 5px 5px #2a00428e;
}

#stars{
    width: 130px;
}

.btn-home{
    margin-top: 50px;
    padding: 10px 35px 10px 35px;
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    font-weight: 500;

    transition: 1s;
}

.btn-home:hover{
    background-color: #FFF;
    color: black;
}


#img-empl{
    width: 220px;

    padding: 20px;
    border: 2px;
    border-style: solid;
    border-color: #FFF;
    border-left-style: none;
    border-right-style: none;
}

#empl-desc{
    margin-top: 12px;
    font-size: 20px;
    color: #FFF;
}



@media (max-width: 360px) {
    #title-01{
        font-size: 60px !important;
    }
}