@import url('https://fonts.cdnfonts.com/css/cloister-black');
@import url('https://fonts.cdnfonts.com/css/great-vibes');

h1{
    font-family: 'Cloister Black', sans-serif;                          
}

h3{
    font-family: 'Cloister Black', sans-serif;
    text-align: left;
}


