<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="/CSS/agenda.css">
    <link rel="stylesheet" href="/CSS/cabeca-rodape.css">
    <style>
        @import url('https://fonts.cdnfonts.com/css/cloister-black');
        @import url('https://fonts.cdnfonts.com/css/great-vibes');

    </style>
</head>

<body>

    <header class="d-flex justify-content-center">
        <nav class="container-fluid menu px-5">
            <div class="container" style="max-width: 510px;">
                <p class="plogo">O melhor site de tatuagem do Brasil!</p>
            </div>

            <div class="links">
                <div class="as">
                    <a th:href="@{/home}">Home</a>
                    <a th:href="@{/usuarios/login}">Login</a>
                    <a th:href="@{/usuarios/cadastro}">Orçamentos</a>
                </div>

                <div class="redes">
                    <div class="as2">
                        <a href="https://www.instagram.com/">
                            <img src="/imagens/insta.png" width="50px" height="50px"></a>
                        <a href="https://www.facebook.com">
                            <img src="/imagens/face.png" width="50px" height="50px"></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <h1 style="text-align: center; font-size: 90px; color: white; margin-bottom: 100px; font-family: 'Cloister Black', sans-serif;
    ">Agenda</h1>

    <table width="80%" style="margin-bottom: 150px;">
        <tr>
            <th>Dias marcados</th>
            <th>Horário</th>
            <th>Serviço</th>
            <th>Profissional</th>
            <th>Valor</th>
        </tr>

        <tr th:each="agenda: ${agenda}">
            <td th:text="${agenda.data}"></td>
            <td th:text="${agenda.horas}"></td>
            <td th:text="${agenda.servico}"></td>
            <td th:text="${agenda.profissional}"></td>
            <td th:text="${agenda.valor}"></td>
        </tr>
    </table>

    <footer style="position: absolute; bottom: 0; width: 100%;">
        <article class="rodape">
            <p class="inf-contato">Email: inkstudiotattoo@gmail.com<br>
                Tel: +55 11 3242-2345 <br>
                <a href="Suporte.html" id="suporte-link">Suporte</a></p>
    
            <p class="inf-local">Local: R. Interna Grupo Bandeirante, 2956-3006 - Jardim Belval<br> <br>
            Estamos abertos de segunda a sexta das 8:00h ás 19:00h <br> e aos sábados das 8:00h ás 16:00h</p>
        </article>
    </footer>

</body>

</html>